<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="row">
    
        <div class="offset-2 col-8">
          
           <div class="card">
              <div class="card-header">
                Login Here
          
              </div>
              <div class="card-body">
                <form #loginForm=ngForm (ngSubmit)="onSubmit()" >
                  <div class="alert alert-danger" [hidden]="!error">
                    {{error}}
                  </div>
                  <div class="form-group row">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="inputEmail3" placeholder="Email" [(ngModel)]="form.email" required name="email">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password" required name="password">
                    </div>
                  </div>
                 
                
                  <div class="form-group row">
                    <div class="offset-2 col-sm-10">
                      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Sign in</button>
                      <a routerLink="/registro" class="btn btn-info float-right">SignUp</a>
                    </div>
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
    
    </div>
  <ion-button color="primary" 
  routerLink="/menu/tabs/tab1/"
  > Ir al menu</ion-button>
</ion-content>
