<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <table>

        <tr>
      
          <th>Producto</th>
      
          <th>Precio</th>
      
          <th>Cantidad</th>

          <th>Cantidad</th>

          <th>Quitar</th>
      
        </tr>
      
        <tr *ngFor="let carrito of carritos; index as i">
      
          <td>{{carrito.producto_id}}</td>
      
          <td>{{carrito.price}}</td>
      
          <td>{{carrito.quantity}}</td>
      
          <td>{{carrito.subtotal}}</td>

          <td><ion-button color="danger" (click)="eliminar(i,carrito.subtotal)"><ion-icon name="remove-circle"></ion-icon></ion-button></td>
        </tr>
      
      
      </table>
       <div class="row">
         <div class="col-6">

         </div>
         <div class="col-6">
          <h4>El total es {{total}}</h4>
        </div>
       </div>
     
  
    
       <ion-item>
        <ion-label>Seleccione una Sucursal</ion-label>
        <ion-select  [(ngModel)]="sucursal" okText="Ok" cancelText="Cerrar">
          <ion-select-option *ngFor="let sucursal of sucursals" [value]="sucursal.identificador">{{sucursal.nombre}}</ion-select-option>
          
        </ion-select>
      </ion-item>
    <ion-button color="primary" (click)="sendpedido()" expand="block" fill="solid"> Confirmar Pedido</ion-button>
    
    <br>
    <ion-input placeholder="Monto a Adelantar" [(ngModel)]="montoAdelantado"></ion-input>
    <ion-input [(ngModel)]="fechaEntregar" type="date"></ion-input>
    <ion-button color="secondary" (click)="reserva()" expand="block" fill="solid"> Hacer Reserva</ion-button>

    <input type="date" *ngIf="fecha">
</ion-content>
