<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-title>Productos Disponibles</ion-card-title>
      </ion-card-header>
    </ion-card>
    <ion-list>
        <ion-item>
            <ion-label>Seleccione la Categoria</ion-label>
            <ion-select  [(ngModel)]="dato.codigo" okText="Ok" cancelText="Cerrar" (ionChange)='f()'>
              <ion-select-option *ngFor="let categoria of categorias" [value]="categoria.identificador">{{categoria.nombre}}</ion-select-option>
              
            </ion-select>
          </ion-item>
      <ion-item *ngFor="let producto of products">
        <ion-avatar slot="start">
          <img [src]="producto.img" alt="">
         
        </ion-avatar>
        <ion-label>
          <h2>{{producto.nombre}}</h2>
          
        </ion-label>
        <ion-button color="primary" 
        [routerLink]="['/tabs/tab1/producto', producto.identificador]"
        ><ion-icon size="large" name="eye"></ion-icon></ion-button>
        <br>
        
      </ion-item>
    </ion-list>
</ion-content>
