<ion-header>
  <ion-toolbar>
    <ion-title>pedidoVista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="row">
        <div class="offset-2 col-8">
            <mat-card class="example-card">
               
                 
                    <mat-card-header>
                 
                    <mat-card-title >PEDIDO N°{{dato.identificador}}</mat-card-title>
    
                  
                  </mat-card-header>
             
                  
              
                <mat-card-content>
                  <br><br>
                  <label> <b>Precio :</b> {{dato.precio}}</label> <br>
                  <label> <b>Estado:</b>  {{dato.estado}}</label> <br>
                  <label> <b>Cliente :</b>  {{dato.cliente}}</label> <br>
                  <label> <b>Conductor :</b>  {{dato.conductor}}</label> <br>
                  <label> <b>Administrador :</b>  {{dato.administrador}}</label> <br>
                  <br><br>
                </mat-card-content>
                <mat-card-actions>
                        <button class="btn btn-block btn-lg btn-primary" routerLink="/menu/tabs/tab3">Volver Atras</button>
                </mat-card-actions>
              </mat-card>
        </div>

     
    </div>
 
    
</ion-content>
